#events {
	padding: 0px 15px 15px 15px;
}

.the_content {

}

.the_date {
	font-size: 0.7em;
	margin-bottom: 0px;
}

.the_title {
	margin-top: 8px;
}

.article {
}

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.625em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.625em;
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#events img {
	border: 1px solid #BDBABA;
	padding: 6px;
}